
.main-container {
    height: 100dvh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.board {
    width: 90vw;
    height: 90vw;
}

.t1, .t2 {
    flex: 1;
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 900px) {
    .main-container {
        flex-direction: row;
    }

    .board {
        width: 90dvh;
        height: 90dvh;
    }

    .t1, .t2 {
        height: 100dvh;
        flex: 1;
    }
}

.btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 21px;
    border: none;
}

.btn:hover {
    cursor: pointer;

}

.btn:active {
    transform: scale(0.95);
    background-color: #3959ab89;
    color: white;
}

.btn-contained {
    background-color: #3959ab;
    border: 2px solid #3959ab;
    color: white;    
    padding: 10px 25px;

}

.btn-outlined {
    color: #3959ab;
    border: 2px solid #3959ab;
    background-color: white;
    padding: 10px 23px;
    margin: 5px;

}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
